* {
	margin: 0;
	padding: 0;
}

.head{
	position: absolute;
	display: block;
	opacity: 1;
	z-index: 1000000;
	width: 100%;
	padding:60px 60px 0;
	position: fixed;
}

.headercss{
	padding:60px 60px 0;
	float:left;
	position: relative;
	z-index: 100;
}

.lili{
	margin-right: 55px;
	width:140px;
	background-color: black;
	float:left;
	list-style: none;
}
.lilili{
	float:left;
	margin-right: 30px;
	list-style: none;
	
}
.image1{
	float: left;
	opacity: 0.75;
}
.navnav{
	letter-spacing: 0.12em;
	font-family: 'Crimson Text', serif;
	font-size: 12px;
	font-weight: 600;
}
.gazou {
	opacity:0.5;
	position: relative;
	background-image:url(11.jpg);
	background-color:#f8f8f8; 
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.midasi {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%)
}

.midasi h1 {
	color: #222222;
	font-family: cursive;
	font-size: 100px;
}

.page2b{
	font-family: "top Ryumin";
	background-color: #EEEEEE;
	height: 100%;
	width: 100%;
	color: #222222;
	position: relative;
}
.page2{
	padding: 60px 0px 0px 90px;
	letter-spacing: 0.2em;
}
.image2{
	opacity: 0.75;
}
.moji{
	padding: 30px;
	width: 600px;
	float: left;
}
.page2 h1{
	font-size: 25px; 
	margin-bottom: 20px;
}
.page2 h2{
	font-size: 13px;
	line-height: 2.5;
}
.moji1 h2{
	text-align: center;
	font-size: 30px;
}